<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a routerLinkActive="active current" class="navbar-brand" routerLink="/"><a class="navbar-brand" href="#">
      <img class="rounded" src="../../../assets/img/fios.jpg" width="60" height="50" alt="">
    </a></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLinkActive="active current" class="nav-link" routerLink="all">All Referrals
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active current" class="nav-link" routerLink="add-referral">Add Referral</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active current" class="nav-link" routerLink="closed-referrals">Closed Referrals</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active current" class="nav-link" routerLink="/new">New Referrals</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active current" class="nav-link" routerLink="/pending">Pending Referrals</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active current" class="nav-link" routerLink="/inprogress">Referrals In Progress</a>
        </li>
        <li class="nav-item pull-right">
          <a routerLinkActive="active current" class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>
