<div class="row mt-10">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/img/images1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">View All Referrals</h5>
        <p class="card-text">Here is a list of all referrals...Referral could be closed, new, pending, not sold, or in progress</p>
        <a routerLink="all" class="btn btn-danger btn-block">Go to referrals</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/img/images2.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Closed referrals</h5>
        <p class="card-text">Here is a list of the referrals which have been closed succesfully.</p>
        <a routerLink="/closed-referrals" class="btn btn-danger btn-block">Closed Referrals</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/img/pending.gif" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pending Referrals</h5>
        <p class="card-text">Here is a list of referrals which are pending or customer needs more time.</p>
        <a routerLink="/pending" class="btn btn-danger btn-block">Go to pending referrals</a>
      </div>
    </div>
  </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/img/new.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">New Referrals</h5>
          <p class="card-text">Here is a list of referral where the customer have not been contacted yet.</p>
          <a routerLink="new" class="btn btn-danger btn-block">New Referrals</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../../assets/img/notsold.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Referral Not Sold</h5>
            <p class="card-text">Here is a list of referrals which were not closed becuase customer did  ot want the services or other reason.</p>
            <a routerLink="/notsold" class="btn btn-danger btn-block">Go to not sold</a>
          </div>
        </div>
      </div>
      <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/img/inprogress.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">In Progress</h5>
              <p class="card-text">Here is a list of the referrals in which I have gotten in contact with the customer and I need to follow up.</p>
              <a routerLink="inprogress" class="btn btn-danger btn-block">View Referrals</a>
            </div>
          </div>
        </div>

  </div>

