<h3 class="text-center mb-5">New Referrals</h3>
<div class="mb-5">
    <button class="btn btn-primary pull-right" routerLink="/add-referral">Add New Referral</button>
  </div>
  <br>
  <br>
<div *ngIf="show; else noItems" class="">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Address</th>
            <th scope="col">Apt</th>
            <th scope="col">Phone</th>
            <th scope="col">Move In</th>
            <th scope="col">Status</th>
            <th scope="col"></th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let referral of referralList">
            <td>{{ referral.name }} {{ referral.lastName }}</td>
            <td>{{ referral.address.street }}</td>
            <td>{{ referral.address.apt }}</td>
            <td>{{ referral.phone }}</td>
            <td>{{ referral.moveIn | date:"shortDate" }}</td>
            <td [ngClass]="{'bg-info': referral.status == 'new'}" class="bg-secondary text-white text-center">{{ referral.status | uppercase }}</td>
            
            <td><a class="btn btn-success btn-block" routerLink="/all/details/{{ referral.id }}">Details</a></td>
          </tr>
        </tbody>
        <tfoot>
          
          
        </tfoot>
      </table>
</div>
<ng-template #noItems>
    <div class="card">
      <div class="card-body">
        <p class="alert alert-info">There no referrals in this category.</p>
      </div>
  
    </div>
  </ng-template>