<div *ngIf="referralList" class="table-responsive-sm">
    <div class="mb-5">
        <button class="btn btn-primary pull-right" routerLink="/add-referral">Add New Referral</button>
      </div>
      <br>
      <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Move In</th>
            <th scope="col">Status</th>
            <th scope="col"></th>

          </tr>
        </thead>
        <tbody class="table-striped">
          <tr *ngFor="let referral of referralList">
            <td>{{ referral.name }} {{ referral.lastName }}</td>
            <td>{{ referral.address.street }}</td>
            <td>{{ referral.phone }}</td>
            <td>{{ referral.moveIn | date:"shortDate" }}</td>
            <td class="bg-warning">{{ referral.status | uppercase }}</td>
            <td><a class="btn btn-success btn-block" routerLink="/all/details/{{ referral.id }}">Details</a></td>
          </tr>
        </tbody>
        <tfoot>
          
          
        </tfoot>
      </table>
</div>