<div class="row">
  <div class="col">
    <div class="figure">
      <h3 class="card-title text-center">In Progress</h3>
        <round-progress [current]="inProgressReferralTotal" [max]="100" [radius]="100" [animationDelay]="1" [stroke]="30" [color]="'#420DAB'"></round-progress>
      <br>
      <figcaption class="figure-caption text-center">{{ inProgress / total | percent:'1.2-2' }}</figcaption>
  </div>
  </div>
  <div class="col">
    <div class="figure">
      <h3 class="card-title text-center">Pending</h3>
        <round-progress [current]="pendingReferralTotal" [max]="100" [radius]="100" [animationDelay]="1" [stroke]="30" [color]="'#FFA500'"></round-progress>
      <br>
      <figcaption class="figure-caption text-center">{{ pending / total | percent:'1.2-2' }}</figcaption>
    </div>
  </div>
<div class="row">
  <div class="col">
      <div class="figure">   
          <h3 class="text-center">Closed</h3>
          <round-progress [current]="closedReferralTotal" [max]="100" [radius]="100" [animationDelay]="1" [stroke]="30" [color]="'#036d2a'"></round-progress>
          <br>
          <figcaption class="figure-caption text-center">{{ closed / total | percent:'1.2-2' }}</figcaption>
  
    </div>
  </div>
  <div class="col">
    <div class="figure">
      <h3 class="text-center">New Referrals</h3>
      <round-progress [current]="newReferralTotal" [max]="100" [radius]="100" [animationDelay]="1" [stroke]="30" [color]="'#42f4cb'"></round-progress>
      <br>
      <figcaption class="figure-caption text-center">{{ newReferral / total | percent:'1.2-2' }}</figcaption>
    </div>
    </div>
  <div class="col">
    <div class="figure">
      <h3 class="text-center">Not Sold</h3>
      <round-progress [current]="notSoldReferralTotal" [max]="100" [radius]="100" [animationDelay]="1" [stroke]="30" [color]="'#a80a17'"></round-progress>
      <br>
      <figcaption class="figure-caption text-center">{{ notSold / total | percent:'1.2-2' }}</figcaption>
    </div>
  </div>
</div>
 